.slick-dots {
    margin-bottom: -10rem;
}

@media(max-width:1200px){
    .slick-dots {
        margin-bottom: -1rem;
    }
}

.slick-dots li button:before,
.slick-dots li button {
    color: #e0e0e0;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #898c8f;
    opacity: 1;
}
