.slick-next {
    top: -90px;
    left: 30px;
}

.slick-prev {
    top: -90px;
    left: 0px;
}

.slick-next:before, .slick-prev:before {
    font-size: 0px;
}

.slick-dots {
    bottom: -70px;
}

.slick-dots li button:before{
    font-size: 14px;
}

.slick-dots li button:before,.slick-dots li button  {
    color: var(--CIRCLE-SLICK-IN-HIGHTLIGHT);
    opacity: 0.9;
}

.slick-dots li.slick-active button:before {
    color: var(--CIRCLE-SLICK-WITHOUT-HIGHLIGHT);
    opacity: 0.9;

}